<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h5 class="text-center">User</h5>

    </div>
    <div class="col-xs-12 col-sm-6">
      <h5 class="text-center">Missions</h5>
    </div>
  </div>
</div>
