<div class="container">
  <div class="row">
    <form {{action "addNewHero" on="submit"}} class="form-horizontal">
      <div class="form-group">
        <label class="col-xs-3">Secret Identity</label>
        {{input type="text" value=name class="col-xs-6"}}
      </div>
      <div class="form-group">
        <label class="col-xs-3">First Name</label>
        {{input type="text" value=firstName class="col-xs-6"}}
      </div>
      <div class="form-group">
        <label class="col-xs-3">Last Name</label>
        {{input type="text" value=lastName class="col-xs-6"}}
      </div>
      <button class="btn btn-primary" type="submit">Save</button>
    </form>
  </div>
</div>
