<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h3> Super Heros</h3>
      <hr>

        {{#each model as |user|}}
          {{superhero-info user=user}}
        {{else}}
          <h3>Where have all the superheros gone?</h3>
        {{/each}}

    </div>
    <div class="col-xs-9">
    </div>
  </div>
</div>
