<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      {{#each model as |user|}}
      <p>{{#link-to 'superheros.heroInfo' user.id}}{{user.name}}{{/link-to}}</p>
      {{else}}
        No Teams in Database
      {{/each}}
    </div>
    <div class="col-xs-12 col-sm-9">
      {{outlet}}
    </div>
  </div>
</div>
